*{
    margin: 0%;
    padding: 0%;
    }
header{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 50%;
    float: right;
}
nav ul{

list-style: none;
float: right;
}
nav ul li{

float: left;

margin-left: 50px;

text-transform: uppercase;
color: #626262;
font-size: 14pt;
font-family: 'Playfair Display', serif;
}
.banner{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    }
.banner img{
    width: 100%;
    }
.photodairy{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
        }
.photodairy h5{
    font-size: 14pt;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    
    }
.photodairy h1{
    font-size: 30pt;
    color: #626262;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    }
.photodairy p{
    font-size: 14pt;
    color: #626262;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    }
.photodairy h6{
    font-size: 12pt;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 80px;
    font-family: 'Ubuntu', sans-serif;
    }
.item1{
    width:39%;
    margin-left: 10%;
    margin-right: 1%;
    margin-bottom: 25px;
    float: left;
    }
        .item1 img{
            width: 100%;
        }
        .item1 h6{
            font-size: 12pt;
            color: #b4ad9e;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            margin-top: 15px;
            margin-bottom: 25px;
            }
        .item1 h2{
            font-size: 25pt;
            color: #626262;
            font-family: 'Playfair Display', serif;
            font-weight: 200;
            margin-bottom: 40px;
            }
        .item1 p{
            font-size: 14pt;
            color: #626262;
            font-family: 'Playfair Display', serif;
            margin-bottom: 60px;

        }
.item2{
    width: 39%;
    margin-left: 1%;
    margin-right: 10%;
    margin-bottom: 25px;
    float: right;   
    }
        .item2 img{
            width: 100%;
        }
        .item2 h6{
            font-size: 12pt;
            color: #b4ad9e;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            margin-top: 15px;
            margin-bottom: 25px;
            }
        .item2 h2{
            font-size: 25pt;
            color: #626262;
            font-family: 'Playfair Display', serif;
            font-weight: 200;
            margin-bottom: 40px;
        }
        .item2 p{
            font-size: 14pt;
            color: #626262;
            font-family: 'Playfair Display', serif;
            margin-bottom: 60px;

        }

        .item3{
            width:39%;
            margin-left: 10%;
            margin-right: 1%;
            margin-bottom: 25px;
            float: left;
            }
                .item3 img{
                    width: 100%;
                }
                .item3 h6{
                    font-size: 12pt;
                    color: #b4ad9e;
                    text-transform: uppercase;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    margin-top: 15px;
                    margin-bottom: 25px;
                    }
                .item3 h2{
                    font-size: 25pt;
                    color: #626262;
                    font-family: 'Playfair Display', serif;
                    font-weight: 200;
                    margin-bottom: 40px;
                    }
                .item3 p{
                    font-size: 14pt;
                    color: #626262;
                    font-family: 'Playfair Display', serif;
                    margin-bottom: 60px;
        
                }
        .item4{
            width: 39%;
            margin-left: 1%;
            margin-right: 10%;
            margin-bottom: 25px;
            float: right;   
            }
                .item4 img{
                    width: 100%;
                }
                .item4 h6{
                    font-size: 12pt;
                    color: #b4ad9e;
                    text-transform: uppercase;
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 400;
                    margin-top: 15px;
                    margin-bottom: 25px;
                    }
                .item4 h2{
                    font-size: 25pt;
                    color: #626262;
                    font-family: 'Playfair Display', serif;
                    font-weight: 200;
                    margin-bottom: 40px;
                }
                .item4 p{
                    font-size: 14pt;
                    color: #626262;
                    font-family: 'Playfair Display', serif;
                    margin-bottom: 60px;
        
                }